<body>
  <nav>
    <img src="../../assets/My Weather.png" />
  </nav>
  <section class="content">
    <div class="introduction">
      <h2>Bem vindo a</h2>
      <h1 id="title">My Weather</h1>
      <p>
        O lugar certo para se manter informado sobre o clima em qualquer
        localidade do mundo!
      </p>
    </div>
    <p>
      Aqui você poderá pesquisar o clima de uma cidade e conseguir infomações
      específicas sobre ela!
    </p>
    <p>
      Para isso, basta inserir o nome da cidade desejada na barra de pesquisa,
      encontrada no topo da página. Após isso, clique no botão de 'pesquisar' e
      o clima será apresentado a você!
    </p>
  </section>
  <footer>
    <img src="../../assets/My Weather.png" alt="Logo do site My Weather" />
    <p>Site desenvolvido apenas para fins educativos!</p>
  </footer>
</body>
