body {
  color: #FFF;
  background: linear-gradient(#DCF2F1, rgba(127, 199, 217, 0.90), rgba(54, 84, 134, 0.90), rgba(15, 16, 53));
}

img {
  width: 80px;
  height: 80px;
}

nav {
  background-color: #0F1035;
  padding: 0 0 0 1%; 
}

.content {
  
  padding: 3%;
  padding-bottom: 6%;
}

.introduction {
  display: inline-block;
  margin: 10% 0 7% 4%;
}

#title {
  font-size: 4rem;
}

p {
  font-size: 18px;
}

footer {
  margin-top: 5%;
  text-align: center;
}